<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League List</title>
    <!-- Include font links -->
    <th:block th:replace="fragments/fonts :: font-links"></th:block>
    <!-- Include stylesheet links -->
    <th:block th:replace="fragments/styles :: style-links"></th:block>
</head>
<body>
    <header th:fragment="header">
        <nav>
            <p>Debug: User ID is <span th:text="${userId}">N/A</span></p>
            <a href="/">
                Leagues
            </a>
            <a href="/rankings">
                Rankings
            </a>
            <a href="/gallery">
                Gallery
            </a>
            <a href="/rules">
                Rules
            </a>
<!--            <a th:href="@{/profile/{id}(id=${userId})}" class="profile">-->
            <a th:href="@{/profile/{id}(id=${userId})}" class="profile">
                <img th:src="@{/images/defaultProfile.png}" alt="Profile">
            </a>
        </nav>
    </header>

</body>
</html>