<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League List</title>
</head>
<body>
    <header th:fragment="header">
        <nav>
            <a href="/static">
                Leagues
            </a>
            <a href="/static">
                Rankings
            </a>
            <a href="/static">
                Gallery
            </a>
            <a href="/static">
                Rules
            </a>
            <a href="/static" >
                <img th:src="@{/placeholderImg.jpg}">
            </a>
        </nav>
    </header>

</body>
</html>