* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #c0392b;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #e74c3c;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-left: 16%;
}

a {
    font-family: 'New Amsterdam', sans-serif;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logout-section {
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 40px;
    font-family: 'New Amsterdam', sans-serif;
    font-size: medium;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
    background-color: #c0392b;
    color: #f5c6c6;
}
