*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-colour: rgba(238, 46, 36, 1);
    --primary-colour-hovered: rgba(198, 16, 6, 1);
    --tertiary-colour: #8d8d8d;
    --border-colour-one: #ced4da;
    --border-colour-two: #80bdff;
    --error-colour: #facc15;
    --font-family: 'New Amsterdam', sans-serif;
}

body {
    font-family: var(--font-family);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    background-color: white;
    border-radius: 8px;
}

.loginLabel {
    color: var(--tertiary-colour);
    margin-bottom: 5px;
    font-size: 14px;
}

#loginBtn {
    font-family: inherit;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#loginBtn:hover {
    background-color: var(--primary-colour-hovered);
}
#loginBtn:focus {
    outline: 2px solid var(--border-colour-two);
    box-shadow: 0 0 4px var(--border-colour-two);
}

.loginInput {
    margin: 5px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-colour-one);
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.loginInput::placeholder {
    font-family: var(--font-family);
    color: #a9a9a9;
    opacity: 1;
}
.loginInput:focus {
    border: 1px solid var(--border-colour-two);
    box-shadow: 0 0 2px 2px var(--border-colour-two);
}

.error-messages {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}
.error-messages::before {
    margin-right: 5px;
}

.errorMessages {
    color: var(--error-colour);
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    #loginForm {
        width: 90%;
        padding: 20px;
    }
}

#signup-div {
    color: black;
}
#signup-div > a {
    color: blue;
}
