*{
    padding:0px;
    margin:0px;
}
body {
    color: #fff;
    background-color: white;
    font-family:  'New Amsterdam', sans-serif;
}

h1{
    margin-top: 50px;
    font-family:  'New Amsterdam', sans-serif;
}

.bracket {
    display: flex;
    gap: 30px;
    padding: 20px;

}

.round {
    flex: 1;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    justify-content: space-around;
}

.match {
    margin: 15px 0;
    overflow: hidden;
    border-radius: 5px;
}

.player {
    color: #fff;
    padding: 5px;
    background-color: #74b9ff;
    display: flex;
    width: 80%;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.player span {
    display: inline-flex;
    align-items: center;
}

.player span img {
    margin-right: 10px;
    flex-shrink: 0;
}


.player span:nth-child(2),
.player span:nth-child(3) {
    margin-left: 10px;
    text-align: center;
    flex-grow: 1;
}


.player span:nth-child(2) {
    text-align: center;
    flex-grow: 1;
}

.player span:nth-child(3) {
    text-align: center;
    flex-grow: 1;
}


.player img {
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    padding: 10px;
}


.player img:hover {
    transform: scale(1.1);
}

.player span:first-child {
    justify-content: flex-start;
}

.player:nth-child(odd) {
    border-bottom: 1px solid #8fc7ff;
}

.player .score {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
}

.player.winner {
    background-color: #d4edda; /* Light green for winners */
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

input{
    border-radius: 10px;
    border: none;
    padding: 10px;

}

.edit-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: auto;
}

.edit-button {
    padding: 12px;
    background-color: #c0392b;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "New Amsterdam", sans-serif;
    font-size: larger;
    cursor: pointer;
    transition: all 0.3s ease;
}


.edit-button:hover {
    background-color: white;
    color: #c0392b;
    box-shadow: 0 0 10px rgba(192, 57, 43, 0.7);
}


.edit-button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(192, 57, 43, 0.5);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}