<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <th:block th:replace="fragments/fonts :: font-links"></th:block>
    <th:block th:replace="fragments/styles :: style-links"></th:block>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/gallery.css}">
    <script src="/js/gallery.js" defer></script>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="gallery-container">
    <h1>Game Photos Gallery</h1>
    <div class="gallery">
        <div class="gallery-item" th:each="game : ${games}" th:onclick="'openModal(' + game.slug + ')'">
            <!-- Check if the game has photos, if not, use a default image stored in the static folder -->
            <img th:src="${game.photos != null && game.photos.size() > 0 ? '/images/' + game.name + '/' + game.photos[0].src : '/images/default.jpg'}"
                 th:alt="${game.name + ' Image'}">
            <div class="game-name" th:text="${game.name}"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">x</span>
    <div class="modal-content">
        <h2 id="modalTitle"></h2>
        <div id="imageGrid" class="image-grid"></div>
    </div>
</div>

<!-- Enlarged Image Modal -->
<div id="enlargedModal" class="enlarged-modal">
    <button id="prevButton" class="enlarged-prev" onclick="navigateImage(-1)">&#8249;</button>
    <img id="enlargedImage" src="" alt="Enlarged Image">
    <div id="enlargedMetadata" class="enlarged-metadata"></div>
    <button id="nextButton" class="enlarged-next" onclick="navigateImage(1)">&#8250;</button>
    <span class="enlarged-close" onclick="closeEnlargedModal()">x</span>
</div>

</body>
</html>
