<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leagues</title>
    <th:block th:replace="fragments/fonts :: font-links"></th:block>
    <th:block th:replace="fragments/styles :: style-links"></th:block>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<header th:include="fragments/header :: header">
</header>

<div id="toast-container" class="toast-container"></div>

<div style="text-align: center">
    <h1>Welcome to the Sports Leagues</h1>
    <h2>Upcoming and Recent Leagues</h2>
    <input type="text" id="search-bar" placeholder="Every league has a legend. Start your search!">
    <br>
    <select id="sportFilter" class="filter">
        <option value="">All</option>
        <option th:each="sport : ${sports}" th:value="${sport}" th:text="${sport}"></option>
        <!--  <option value="Table Tennis">Table Tennis</option>
          <option value="Darts">Darts</option>
          <option value="Pool">Pool</option>-->
    </select>
</div>

<button id="create-league-btn" class="button">Create New League</button>

<div id="create-league-modal" class="modal hidden">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Create a New League</h2>
        <form th:action="@{/create}" th:method="post" id="create-league-form">
            <label for="league-name">League Name:</label>
            <input type="text" id="league-name" name="name" required>

            <label for="league-start-date">Start Date:</label>
            <input type="datetime-local" id="league-start-date" name="startDate" required>

            <label for="league-registration-date">Last Registration Date:</label>
            <input type="datetime-local" id="league-registration-date" name="lastRegistrationDate" required>

            <label for="league-venue">Venue:</label>
            <input type="text" id="league-venue" name="venue" required>

            <label for="league-sport">Sport:</label>
            <select id="league-sport" name="sport" required>
                <option value="">Select a Sport</option>
                <option th:each="sport : ${sports}" th:value="${sport}" th:text="${sport}"></option>
            </select>

            <button type="submit" class="button">Create League</button>
        </form>
    </div>
</div>

<div class="container">
    <section>
        <h2>Upcoming Leagues</h2>
        <ul class="league-list">
            <li onclick th:each="league : ${upcomingLeagues}" class="league-item" th:data-sport="${league.sports}">
                <h3 th:text="${league.name}"></h3>
                <p><strong>Sport :</strong> <span th:text="${league.sports}"></span></p>
                <p><strong>Start Date :</strong>
                    <span th:text="${#temporals.format(league.schedule, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><strong>Last Registration Date :</strong>
                    <span th:text="${#temporals.format(league.lastRegistrationDate, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><strong>Venue:</strong> <span th:text="${league.venue != null ? league.venue : 'TBD'}" class="venue"></span></p>
                <!--                <p th:text="${league.id}"></p>-->
                <!--                <p th:text="${joinedLeagues}"></p>-->
                <button class="join-league-btn button"
                        th:data-joined-leagues="${joinedLeagues}"
                        th:text="#{${joinedLeagues.contains(league.id) ? 'Joined' : 'Join the league'}}"
                        th:data-league-id="${league.id}"
                        type="button" ></button>
            </li>

        </ul>

    </section>

    <section>
        <h2>Recent Leagues</h2>
        <ul class="league-list">
            <li th:each="league : ${recentLeagues}" class="league-item" th:data-sport="${league.sports}">
                <h3 th:text="${league.name}"></h3>
                <p><strong>Sport :</strong> <span th:text="${league.sports}"></span></p>
                <p><strong>Start Date :</strong>
                    <span th:text="${#temporals.format(league.schedule, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><strong>Last Registration Date :</strong>
                    <span th:text="${#temporals.format(league.lastRegistrationDate, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><strong>Venue:</strong> <span th:text="${league.venue != null ? league.venue : 'TBD'}" class="venue"></span></p>
            </li>
        </ul>
    </section>

</div>

<footer class="footer">
    <p>&copy; 2024 Sports Leagues</p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const userId = [[${userId}]]; // Ensure that 'userId' is passed properly from the backend
        const searchBar = document.getElementById("search-bar");
        const sportFilter = document.getElementById("sportFilter");
        const modal = document.getElementById('create-league-modal');
        const openModalButton = document.getElementById('create-league-btn');
        const closeModalButton = document.querySelector('.close-button');
        const createLeagueForm = document.getElementById('create-league-form');
        const filterLeagues = () => {
            const searchFilter = searchBar.value.toLowerCase();
            const selectedSport = sportFilter.value.toLowerCase();

            document.querySelectorAll(".league-item").forEach((item) => {
                const name = item.querySelector("h3").textContent.toLowerCase();
                const sport = item.getAttribute("data-sport").toLowerCase();

                const matchesSearch = name.includes(searchFilter);
                const matchesSport = selectedSport === "" || sport.includes(selectedSport);

                item.style.display = matchesSearch && matchesSport ? "block" : "none";
            });
        };

        createLeagueForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const formData = new FormData(createLeagueForm);

            fetch('/create', {
                method: 'POST',
                body: new URLSearchParams(formData),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(async response => {
                    if (response.ok) {
                        createLeagueForm.reset();
                        showToast("Successfully created a new league.", "success");
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000)
                        modal.classList.remove('show');
                    } else {
                        const errorMessage = await response.text();
                        console.log(errorMessage)
                    }
                })

                .catch(error => {
                    showToast(error.message, "error")
                });
        });




        function showToast(message, type = "success") {
            const toastContainer = document.getElementById("toast-container");

            const toast = document.createElement("div");
            toast.className = `toast ${type}`;
            toast.textContent = message;

            toastContainer.appendChild(toast);

            setTimeout(() => {
                toast.classList.add("hidden");
                setTimeout(() => {
                    toast.remove();
                }, 300);
            }, 3000);
        }
        document.querySelectorAll(".join-league-btn").forEach((button) => {
            const joinedLeagues = button.getAttribute("data-joined-leagues");
            const leagueId = button.getAttribute("data-league-id");

            if (joinedLeagues.includes(leagueId)) {
                button.innerHTML = "Joined";
                button.disabled = true;
            } else {
                button.innerHTML = "Join the League";
                button.disabled = false;
            }

            button.addEventListener("click", () => {

                fetch("/register?userId=" + userId + "&leagueId=" + leagueId, {
                    method: "GET", // Need to learn on why post mapping didn't work
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(async response => {
                        if (response.ok) {
                            return await response.text();
                        } else {
                            const errorMessage = await response.text(); // Parse error message from the server
                            throw new Error(errorMessage);
                        }
                    })
                    .then(() => {
                        button.innerHTML = "Joined";
                        button.disabled = true;
                        showToast("Successfully joined the league", "success")

                    })
                    .catch(error => {
                        console.error(error);
                        showToast(error.message, "error")
                    });
            });
        });
        document.querySelectorAll(".league-item").forEach((item) => {
            const leagueId = item.querySelector(".join-league-btn").getAttribute("data-league-id");

            item.addEventListener("click", (event) => {
                if (event.target.tagName.toLowerCase() !== "button") {
                    window.location.href = `/match?leagueId=${leagueId}`;

                }
            });
        });

        openModalButton.addEventListener('click', () => {
            modal.classList.add('show');
        });

        closeModalButton.addEventListener('click', () => {
            modal.classList.remove('show');
        });

        window.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.classList.remove('show');
            }
        });

        searchBar.addEventListener("input", filterLeagues);
        sportFilter.addEventListener("change", filterLeagues);
    });

</script>



</body>
</html>

