<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:replace="fragments/fonts :: font-links" />
    <link th:replace="fragments/styles :: style-links" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<form id="loginForm" th:action="@{/login}" th:object="${loginDTO}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <label class="loginLabel" for="username">Email or Username</label>
    <input th:field="*{username}" class="loginInput" type="text" id="username" placeholder="Enter email or username">

    <div id="usernameError" class="errorMessages" style="display: none;"></div>



    <label class="loginLabel" for="password">Password</label>
    <input th:field="*{password}" class="loginInput" type="password" id="password" placeholder="Enter password">

    <div id="passwordError" class="errorMessages" style="display: none;"></div>


    <div th:if="${param.error}" class="errorMessages">
        <p>Invalid username or password. Please enter again.</p>
        <div th:if="${#fields.hasErrors('password')}" class="errorMessages">
            <p th:errors="*{password}"></p>
        </div>
        <div th:if="${#fields.hasErrors('username')}" class="errorMessages">
            <p th:errors="*{username}"></p>
        </div>
    </div>

    <button type="submit" id="loginBtn">Login</button>
</form>
<div style="margin-top: 10px;" id="signup-div">New here? <a href="/signup">
    Create an account
</a></div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const loginForm = document.getElementById("loginForm");
        const username = document.getElementById("username");
        const usernameError = document.getElementById("usernameError");
        const password = document.getElementById("password");
        const passwordError = document.getElementById("passwordError");

        // Function to validate username/email
        const validateUsername = () => {
            const usernameValue = username.value.trim();
            const emailRegex = /^[a-zA-Z0-9._%+-]+@(creditsafe\.(com|be|co\.uk|co\.in|co\.jp|dk|fi|fr|hu|ie|it|lu|nl|no|se)|creditsafede\.com|creditsafemail\.com|creditsafenenl\.com|creditsafeuk\.com|creditsafeusa\.com|graydoncreditsafe\.(be|com|lu|nl)|safeinformationgroup\.com)$/;
            const usernameRegex = /^[0-9]{6,10}$/;

            if (!emailRegex.test(usernameValue) && !usernameRegex.test(usernameValue)) {
                usernameError.innerHTML = "Enter a valid Creditsafe email or username.";
                usernameError.style.display = "block";
                return false;
            }

            usernameError.style.display = "none";
            return true;
        };

        // Function to validate password
        const validatePassword = () => {
            const passwordValue = password.value.trim();
            const passwordRegex = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}/;

            if (!passwordRegex.test(passwordValue)) {
                passwordError.innerHTML = "Enter a valid password.";
                passwordError.style.display = "block";
                return false;
            }
            passwordError.style.display = "none";
            return true;
        };

        // Add event listeners for real-time validation
        username.addEventListener("input", validateUsername);
        password.addEventListener("input", validatePassword);

        // Form submission validation
        loginForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const isUsernameValid = validateUsername();
            const isPasswordValid = validatePassword();

            if (isUsernameValid && isPasswordValid) {
                loginForm.submit();
            }
        });
    });
</script>

</html>
