<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/userProfile.css}">
</head>
<body>
<header>
    <nav th:replace="fragments/header :: header"></nav>
</header>
<div class="profile-container">
    <div class="photo-box">
        <!-- Check if the user has a profile image -->
        <img th:if="${user.profileImage != null}" th:src="@{/images/{photo}(photo=${user.profileImage})}" alt="User Photo">

        <!-- If the user doesn't have a profile image -->
        <img th:unless="${user.profileImage != null}" th:src="@{/images/defaultProfile.jpg}" alt="User Photo">
    </div>
    <div class="details-box">
        <h2>Personal Details</h2>
        <p><span>Name:</span> <span th:text="${user.name}">John Doe</span></p>
        <p><span>Email:</span> <span th:text="${user.email}">john.doe@example.com</span></p>
        <p><span>Department:</span> <span th:text="${user.department}">IT</span></p>
        <p><span>Role:</span> <span th:text="${user.role}">Software Engineer</span></p>
        <div class="toggle-container">
            <h2>Select Interested Games</h2>
            <div class="toggle" th:each="game : ${user.games}">
                <input type="checkbox" th:id="${game}" th:name="games" th:value="${game}" th:checked="true">
                <label th:for="${game}" th:text="${game}"></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
