<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="User Profile Page">
    <title>User Profile</title>

    <th:block th:replace="fragments/fonts :: font-links"></th:block>
    <th:block th:replace="fragments/styles :: style-links"></th:block>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/userProfile.css}">
    <script src="/js/editProfile.js" defer></script>
</head>
<body style="font-family: 'New Amsterdam', sans-serif;">
<header>
    <nav th:replace="~{fragments/header :: header(userId=${user.getUserId()})}"></nav>
</header>

<div class="profile-container">
    <div class="photo-box">
    </div>
    <div class="details-box">
        <h2>Personal Details</h2>
        <p><span>Name:</span> <span id="name-field" th:text="${user.getName()}">John Doe</span> <button onclick="editField('name')">Edit</button></p>
        <p><span>Email:</span> <span id="email-field" th:text="${user.getUsername()}">john.doe@example.com</span> <button onclick="editField('email')">Edit</button></p>
        <p><span>EmployeeID:</span> <span th:text="${user.getUserId()}">23456</span></p>
        <p><span>Department:</span> <span id="department-field" th:text="${user.getDepartment()}">IT</span> <button onclick="editField('department')">Edit</button></p>
        <p><span>Role:</span> <span id="role-field" th:text="${user.getUserRole()}">Software Engineer</span>
    </div>
</div>
</body>
</html>
